{{ $avatar_img := .Site.Params.author.avatar }}
{{ $avatar_img_alt := .Site.Params.author.name }}
{{ $image := resources.Get $avatar_img }}
<div class="author">
    {{ with $image }}
    {{ $resized := $image.Fill "792x792 webp q80" }}
    <img class="author-avatar" src="{{ $resized.RelPermalink }}" alt="{{ $avatar_img_alt }}" width="{{ $resized.Width }}"
        height="{{ $resized.Height }}" loading="eager" fetchpriority="high" />
    {{ end }}
    <h2 class="author-name">{{ .Site.Params.author.intro }}</h2>
    <p class="author-bio">{{ .Site.Params.author.description }}</p>
</div>